body {
    background-color: black;
}

.double {
    display: flex;
    text-align: center;
    width: 250px;
    background-color: coral;
    color: aqua;
}

.single {
    display: flex;
    text-align: center;
    background-color: rosybrown;
    width: 250px;
    color: aqua;
}

.single, .double {
border: 1px solid red;
border-radius: 10px;
}